@font-face {
  font-family: headingfont;
  src:url("../../assets//fonts/ADAM.CG\ PRO.otf");
}

.tradewithus{
  min-height: 110vh;
  background-color: #031030;
  /* background: url('../../assets/images/bg2.svg'); */
  /* background: red; */
  /* background-size: cover; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  margin-top: -10vh;
}

.image
{
    position: absolute;
    height: 90vh;
    width: 100vw;
     background: url('../../assets/images/bg2.svg');
     background-size: cover;
}

.phone{
  position: absolute;
  background: url('../../assets/images/Phone.svg');
  background-size: cover;
  width: 75px;
  height: 150px;
  transform: scale(0.6);
  top: 130vh;
  z-index: 3;
  left: 37vw;
}

.heading{
font-size: 28px;
font-family: headingfont;
color: #fff;
/* background: red; */
text-align: center;
padding: auto;
position: relative;
z-index: 2;
}

.box{
  width: 488px;
  height: 295px;
  background: url('../../assets/images/Laptop.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: type 1s linear;
  transform-origin: top;
  animation-play-state: paused;
  animation-fill-mode:forwards;
  position: relative;
z-index: 2;
}

/* .laptop{ */
  /* width: 80vw;
  height: 49vw;
  margin-top: 20vh;
  z-index: 2;
  background: url('../../assets/images/Laptop.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* display: none; */
/* } */

.icon{
  width: 55vw;
  margin-top: 5vh;
  /* transform: scale(0.6); */
  position: relative;
z-index: 2;
}

.icondiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes type{
    0%{
 transform: scale(2.5) perspective(800px) rotateX(80deg) ;

    }
  
  /* 20%{
    transform: scale(1.5) perspective(600px) rotateX(60deg) ;
  } */

    80%{
         transform: scale(0.6) perspective(800px) rotateX(0deg) ;
         margin-top: 30vh;
    }

    100%{
         transform: scale(0.6) perspective(800px) rotateX(0deg) ;
         margin-top: 28vh;
    }
}


@media(max-width:1025px){
  .box{
    display: none;
  }

  .laptop{
    width: 60vw;
    height: 37vw;
    margin-top: 20vh;
    z-index: 2;
    background: url('../../assets/images/Laptop.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10vh;
  }

  .phone{
    top: 127vh;
    left: 18vw;
  }
}

@media(max-width:500px){

  .box, .icon{
    display: none;
  }

  .image{
    background: url('../../assets/images/mbg2.svg');
  }

  .mobicon{
    height: 30vh;
    width: auto;
    margin-top: 12vh;
    position: relative;
    z-index: 2;
  }

  .laptop{
    width: 60vw;
    height: 37vw;
    margin-top: 20vh;
    z-index: 2;
    background: url('../../assets/images/Laptop.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10vh;
  }

  .phone{
    width: 35px;
    height: 70px;
    top: 127vh;
    left: 18vw;
  }
}

@media(min-width:501px){
  /* .laptop, */
   .mobicon{
    display: none;
  }
}

@media(min-height:800px){
  .phone{
    top: 123vh;
  }
}

