.features{
    height: 90vh;
    background: url('../../assets/images/bg3.png');
    background-size: cover;
    
}

.featureContainer{
    display: flex;
}

.featurebox{
    background: linear-gradient(368deg, #001F69 -32.79%, #03102F 41.07%);
    border-radius: 27px;
    
    /* width: 430px;
    height: 390px; */

    }