@font-face {
    font-family: headingfont;
    src:url("../../assets//fonts/ADAM.CG\ PRO.otf");
}


.features{
    height: 90vh;
    background: url('../../assets/images/bg3.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.icon{
    height: 80px;
    width: auto;
}

.featurehead{
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.text{
    font-size: 16px;
    color: white;
    margin-top: 0;
}

.icon{
    color: white;
}

.heading{
    font-size: 40px;
    font-family: headingfont;
    color: #fff;
    /* text-align: center; */
    margin: auto;
    /* background: red; */
    padding: auto;
}

.featureContainer{
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    justify-content: space-evenly;
    /* background-color: green; */
    margin-top: 0;
}

.featurebox{
    background: linear-gradient(368deg, #001F69 -32.79%, #03102F 41.07%);
    /* background: red; */
    border-radius: 27px;
    width: 250px;
    height:220px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 30px ; */
    flex-direction: column;
    }
    

    @media(max-width: 770px){
        .featurebox{
            width: 210px;
        }

        .featurehead{
            font-size: 16px;
        }

        .text{
            font-size: 14px;
        }

    }

    @media(max-width: 750px){

        .featurebox{
            width: 250px;
        }

        .featureContainer {
            flex-direction: column;
        }

        .featurehead{
            font-size: 20px;
        }

        .text{
            font-size: 16px;
        }

        .featurebox{
            margin-top: 60px;
        }

        .heading{
            font-size: 32px ;
        }
    }

    @media(max-width: 330px){

        .heading{
            font-size: 24px ;
        }
    }