@font-face {
    font-family: headingfont;
    src:url("../../assets//fonts/ADAM.CG\ PRO.otf");
}


.features{
    min-height: 90vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    
}

.icon{
    height: 80px;
    width: auto;
    position: relative;
    z-index: 2;
}
.image
{
    position: absolute;
    height: 90vh;
    width: 100vw;
     background: url('../../assets/images/bg3.svg');
     background-size: cover;
     z-index: 0;
     background-repeat: no-repeat;
}
.featurehead{
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
    z-index: 2;
}

.text{
    font-size: 16px;
    color: white;
    /* background-color: brown; */
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    position: relative;
    z-index: 2;
    text-align: justify;
}

.icon{
    color: white;
    position: relative;
    z-index: 2;
}

.heading{
    font-size: 40px;
    font-family: headingfont;
    color: #fff;
    /* text-align: center; */
    margin: auto;
    /* background: red; */
    padding: auto;
    position: relative;
    z-index: 2;
}

.featureContainer{
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    justify-content: space-evenly;
    /* background-color: green; */
    margin-top: 0;
    position: relative;
    z-index: 2;
}
.featurebox p{
    /* text-align: center; */
    /* letter-spacing: 5px; */
    justify-content: space-evenly;
}
.featurebox{
    background: linear-gradient(368deg, #001F69 -32.79%, #03102F 41.07%);
    /* background: red; */
    border-radius: 15px;
    width: 250px;
    /* height:220px; */
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    /* padding-bottom: 30px ; */
    flex-direction: column;
    position: relative;
    z-index: 2;
    }
    

    @media(max-width: 770px){
        .featurebox{
            width: 210px;
        }

        .featurehead{
            font-size: 16px;
        }

        .text{
            font-size: 14px;
        }

    }

     @media(max-width: 750px){

        .featurebox{
            width: 250px;
            height: 150px;
        }

        .featureContainer {
            flex-direction: column;
        }

        .featurehead{
            font-size: 20px;
        }

        .text{
            font-size: 16px;
        }

        .featurebox{
            margin-bottom: 50px;
        }

        /* .icon{
            transform: scale(0.8);
        } */

        .heading{
            font-size: 32px ;
            margin-bottom: 25px;
        }
    }
    @media(max-width: 455px){

        .image{
            background: url('../../assets/images/mbg3.svg');
          }

        .featurebox{
            width: 250px;
            height: 150px;
            margin-bottom: 80px;
        }
    }
  
    @media(max-width: 380px){
        

        .heading{
            font-size: 28px ;
        }
    }

    @media(max-width: 330px){

        .heading{
            font-size: 24px ;
        }

        .text{
            display: none;
        }

        .featurebox{
            width: 250px;
            height: 100px;
        }
    }

    