.App{
    background-color: #03102F
}

.carousel-control-next-icon{
    display: none !important;
}

.carousel-control-prev-icon{
    display: none !important;
}

.carousel-indicators{
    z-index: 1 !important;
}