.right.carousel-control, .left.carousel-control {
    display: none !important;
}

.right.carousel-control, 
.left.carousel-control 
{
     visibility:hidden !important;
}

.carousel .glyphicon-chevron-right{display:none !important;}
.carousel .carousel-control { visibility: hidden !important; }