.App{
    background-color: #03102F
}

.carousel-control-next-icon{
    display: none !important;
}

.carousel-control-prev-icon{
    display: none !important;
}

.carousel-indicators{
    z-index: 1 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* #trade:hover ~ #down{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #03102F;
  width: 150px;
  height: 40px;    
  background: #FFFFFF;
  border-radius: 3px;
  font-family: 'Poppins';
  font-weight: 500;
  border: 2px solid white;
} */


.poptitle{
  margin: 0 !important;
}

.modal-title{
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
}

.popup-icon{
display: flex !important;
align-items: center;
cursor: pointer;
}
